.registro-bg {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('../../assets/conses.jpg') !important;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.btn-atras {
    
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 3;
    background-color: #bd3a3f;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-color: #bd3a3f;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 10px;
    margin-left: 10px;
}


.btn-atras:hover {
    background-color: #c26f71 !important;
    color: #ffffff !important;
    border-radius: 10px;
    border-color: #c26f71 !important;
    transition: 0.3s;
}

.registro-inputs {
    margin-top: 50px;
    width: 80%;
}

.btn-primary {
    background-color: #bd3a3f;
    color: white;
    width: 300px;
    border-radius: 10px;
    border-color: #bd3a3f;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}


.btn-primary:hover {
    background-color: #c26f71 !important;
    color: #ffffff !important;
    border-radius: 10px;
    width: 350px;
    border-color: #c26f71 !important;
    transition: 0.7s;
}

.btn-outline-secondary {
    color: white;
    width: 300px;
    border-radius: 10px;
    border-color: #bd3a3f;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-outline-secondary:hover {
    background-color: #c26f71 !important;
    color: #ffffff !important;
    border-radius: 10px;
    width: 350px;
    border-color: #c26f71 !important;
    transition: 0.7s;
}

.form-control:focus {
    border-color: #bd3a3f;
    box-shadow: 0 0 5px rgba(189, 58, 63, 0.5);
}

.form-control {
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 5px;
    border-color: black;
}

.txt-cnt {
    color: #bd3a3f;
    font-weight: bold;
    margin-top: 30px;
}

.cnt {
    background-color: white;
    width: 40%;
    margin :  auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.error {
    color: red;
    font-size: 0.8rem;
}

.input-error {
    border: 2px solid red !important;
}
