.custom-header {
    border-radius: 50px;      
    width: 90%;        
    margin: 20px auto;
    background-color: rgb(255, 255, 255); 
}

.custom-header .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 1.1rem;
}

.custom-header img {
    border-radius: 50%;      
}

.nav-link {
    color: rgb(0, 0, 0) !important;

}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    transition: 0.3s;
}
