
#root {
  width: 100vw;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.lead{
  text-align: justify !important;
}


.mt-auto{
  background-color: white !important;
}

#logoFooter{
  width: 10vw !important;
  height: 10vh !important;
}

#footer a{
  color: grey !important;
}


#footer{
  max-width: 100vw !important;
}



#contenedorPrincipalLanding{
  max-width: 100vw !important;
  padding: 0 !important;
  padding-bottom: 0 !important;
}

#landingPage {
  min-height: 100vh; /* altura mínima de la ventana */
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(26,26,26,0) 1%, rgba(31,31,31,0.78) 17%, rgba(51,51,51,1) 68%);
}


.marquee-container {
   width: 100%;

   padding: 15px 0;
 }

 .marquee-content {
   display: flex;
   animation: marquee 15s linear infinite;
 }

 .marquee-item {
   flex: 0 0 auto;
   padding: 0 20px;
   font-size: 1.2rem;
   color: #495057;
 }


 .cartasOfertas {
  background-color: #292929ff;
  color: white;
  transition: background-color 0.3s ease; /* animación suave */
}

.cartasOfertas:hover {
  background-color: rgb(236, 236, 236);
  color: black;
  cursor: pointer; /* opcional: cambia el cursor */
}

 @keyframes marquee {
   0% {
     transform: translateX(100%);
   }

   100% {
     transform: translateX(-100%);
   }
 }

 /* Optional: Pause animation on hover */
 .marquee-container:hover .marquee-content {
   animation-play-state: paused;
 }


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.boton{
  background-color: #bd3a3f !important;
    border-color: #bd3a3f !important;
}