#icon-twitter:hover {
    color: #1DA1F2 !important;
}
#icon-facebook:hover {
    color: #4267B2 !important;
}
#icon-social:hover {
    color: #E1306C !important; 
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    color : #000000 !important;
}

#footer a:hover:not(#icon-twitter):not(#icon-facebook):not(#icon-social) {
    color: black !important;
} 