.custom-header {
    border-radius: 50px;      
    width: 90%;        
    margin: 20px auto;
    background-color: rgb(255, 255, 255) !important; 
}

#header-container{
    background-color: white !important;
}

.custom-header .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 1.1rem;
}

.custom-header img {
    border-radius: 40%;
    width: 75px;
    height: 50px;      
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    border-radius : 10px;
    transition: 0.3s;

}

.nav-link:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #bd3a3f;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-login {
    width: 150px !important; 
}
