#boton-inicio-sesion {
    background-color: #bd3a3f;
    border-color: #bd3a3f;
}

#boton-inicio-sesion:hover{
    background-color: #c26f71 !important;
    border-color: #c26f71 !important;
    color: #ffffff !important;
}

#email, #password {
    border-radius: 0;
    border-color: #b6b6b6;
    border-radius: 10px;
}
.form-label {
    margin-bottom: 1px !important;
}